<!DOCTYPE html>
<html lang="en">
  <head>

  	<title>DrinkingApp</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <style type="text/css">
  	.jumbotron{
  		background-color:#D9EBF1;
  		text-align:center;
	}
  .form
  {
    padding-right: 50px;
  }
  h1{
    padding-left: 1cm;
  }
  p {
        padding-left: 1cm;
        font-family: 'Roboto', serif;
        font-size: 20px;
        font-weight: bold;
  }

  </style>
  <body>
    <div>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <i class="fa fa-beer"></i> Drinking App:&nbsp;&nbsp;
      <a href="/index"> <i class="fa fa-home"></i> Home </a>&nbsp;&nbsp;
      <a href="/search"> <i class="fa fa-cutlery"></i> DrunkFood Search </a>&nbsp;&nbsp;
      <a href="/login"> <i class="fa fa-sign-in"></i> Login </a>&nbsp;&nbsp;
      <a href="/logout"> <i class="fa fa-sign-out"></i> Logout </a>&nbsp;&nbsp;
      <a href="/added_marker"> <i class="fa fa-user"></i> Profile </a>
  </div>
    <hr>
    <!-- {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %} -->
    {% block content %}{% endblock %}
  </body>
</html>
