<html lang="en">
  <head>

    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <style type="text/css">
  	.jumbotron{
  		background-color:#D9EBF1;
  		text-align:center;
	}
  .form
  {
    padding-right: 50px;
    padding-left: 50px;
  }
  h1{
    padding-left: 1cm;
  }

  p {
        padding-left: 1cm;
        font-family: 'Roboto', serif;
        font-size: 20px;
        font-weight: bold;
  }


  </style>
  <body>
{% extends "base.html" %}
{% block content %}

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '426344891059039',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <h1>Login was sucessful!!</h1>
  <p> welcome {{ username }} </p>


  {% endblock %}

</body>
</html>
