<!DOCTYPE html>
<html lang="en">
  <head>

  	<title>Boston Drinking App</title>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
  	<!-- jQuery library -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<!-- Latest compiled JavaScript -->
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  </head>
    <style type="text/css">
  	.jumbotron{
  		text-align:center;
	  }
	.well {
	}
	p {
		font-family: 'Roboto', serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
        

  .wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
  }
 
  </style>
  <body background= "https://images4.alphacoders.com/257/257988.jpg">
<!--- Header -->
  	<div class="jumbotron text-center">
  		<h1>Boston DrinkingApp</h1>
    </div>

  <center>
  <h1>Welcome to DrinkingApp</h1>
  </center>

  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
        
            <div class="row" align="center" color: white> Already Registered? <a href="/login" class="">Sign in  here</a>
            <div class="row" align="center">Not Registered? <a href="/register" class="">Lets get started</a><p> </div>
        </div>

        </div>
        </div>


  </body>
  </html>